.footer
{
  display: flex;
  background-image: url("../images/footer.png");
  background-size: cover;
}
.footer__nav
{
  display: flex;
  background-color: rgba(35, 47, 56, 0.6);
  width:inherit;
}
.nav__title
{
  margin-left: auto;
  margin-right: auto;
  height: 29px;
  font-weight: 400;
  font-family: 'Lora', serif;
  font-size: 26px;
  line-height: 100%;
  color: #FFFFFF;
}
.nav__bunch-of-referals
{
  display: flex;
  align-self: center;
  justify-content: space-between; 
  margin-right: auto;
  width: 336px;
}